page-login {

  .login-content {
    background: #002151;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border-bottom: 0px !important;
         box-shadow: none !important;
         height: 70px;
         background-color: #D4D9E2;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       height: 70px;
       background: #009599;
     }

     .submit-btn:hover {
       background: #027679;
     }

     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }

  }

}
